* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #333;
}

/* shared styles */
main {
  max-width: 1140px;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  color: #333;
  font-weight: 500;
}
p {
  color: #4f4f4f;
  font-size: 18px;
  font-weight: 400;
}
.section-title {
  font-size: 2.25rem;
}
/* Header styles */
#header {
  margin: 0 52px;
}
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 51px;
}
#nav .hamburger {
  font-size: 30px;
  display: none;
}
#nav .logo {
  font-family: "Heebo", sans-serif;
  font-size: 36px;
  font-weight: 800;
}
#nav > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  min-width: 50%;
}
#nav ul a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}
.banner-section {
  margin-top: 141px;
}
.banner-section > div {
  text-align: left;
}
.banner-image {
  border-radius: 18px;
  background: url(../images/heroImage.jpg);
  height: 354px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 42px 0;
}
.main-title {
  padding-left: 277px;
  max-width: 30%;
}
.main-title h4 {
  color: #2d9cdb;
  font-size: 1.15rem;
  margin-bottom: 16px;
}
.main-title h1 {
  font-size: 3rem;
}

.second-main-title {
  padding-left: 277px;
  max-width: 366px;
}

.second-main-title h2 {
  font-size: 3rem;
  margin-bottom: 42px;
}
.banner-section form h4 {
  margin-top: 42px;
  color: #828282;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 9px;
}
.banner-section form div {
  max-width: 90%;
  border-radius: 12px;
  background: #f2f2f2;
  display: flex;
  padding: 4px;
}
.banner-section form input[type="email"] {
  border: none;
  background: transparent;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  padding: 15px 21px;
  width: 100%;
}
.banner-section form input[type="email"]:focus {
  outline: none;
}
.banner-section form input[type="submit"] {
  color: #f2f2f2;
  font-size: 18px;
  font-weight: 500;
  border-radius: 12px;
  background: #2d9cdb;
  border: none;
  padding: 11px 27px;
}
/* services section */
.service {
  margin: 200px 0;
}
.service-container {
  display: flex;
  justify-content: space-around;
  margin-top: 42px;
}
.service-box {
  padding: 46px 35px;
}
.service-box h3 {
  font-weight: 700;
  font-size: 1.5rem;
}
.service-box.hovered {
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(51, 51, 51, 0.1);
}
.service-box img {
  margin-bottom: 35px;
}
.service-box p {
  margin-top: 31px;
  margin-bottom: 24px;
}
.btn-primary {
  color: #828282;
  font-weight: 500;
  border-radius: 12px;
  background-color: #e0e0e0;
  border: 0;
  padding: 9px 12px;
}
.service-box.hovered .btn-primary {
  background-color: #2d9cdb;
  color: #fff;
}

/* good design */
.good-design {
  margin-top: 195px;
}
.collage-conainer {
  display: grid;
  grid-template-rows: repeat(2, 800px);
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.good-design h4 {
  color: #828282;
  font-size: 14px;
}
.good-design h3 {
  font-size: 1.5rem;
}
.collage-conainer img {
  border-radius: 24px;
  width: 100%;
  margin-bottom: 20px;
}
.img-1 {
  align-self: end;
}
.img-3 {
  align-self: end;
}
/* teams section */
.teams {
  margin: 200px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teams-content {
  max-width: 280px;
}
.teams-content h4 {
  color: #eb5757;
  font-size: 18px;
}
.team-members-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row: repeat(1,1fr);
  justify-items: end;

}
.team-members-container div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  
  
}
.team-members-container div img {
  align-self: baseline;
}
.team-members-container img {
  border-radius: 8px;
  max-width: 100%;
}
.person-1 {
  align-self: center;

}
/* testimonial section */
.testimonial {
  margin-bottom: 100px;
}
.testimonial-quote {
  font-size: 2.25rem;
  max-width: 936px;
  margin-bottom: 36px;
}
.avatar-container img {
  border-radius: 5px;
  width: 82px;
  margin-right: 30px;

}
.avatar-container {
  display: flex;
  align-items: center;

}
.avatar-container h3 {
      font-size: 1.5rem; 
      margin-bottom: 12px;
}
.avatar-container h4 {
      font-size: 1.1rem; 
      color: #828282;

}